apiVersion: v1
kind: Service
metadata:
  name: {{ include "app-deployment.fullname" . }}
  labels:
    {{- include "app-deployment.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targePort | default .Values.service.port }}
      {{ if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
      protocol: TCP
      name: http
  selector:
    {{- include "app-deployment.selectorLabels" . | nindent 4 }}
